#git管理に含めないものを記述することで、git管理外とする

# Python
__pycache__/
*.pyc

# logs
*/apps/logs/
*.log

# build(exeファイル以外はgit管理に含めない)
*/apps/build/
main.spec

# プロジェクトルートのdistとbuildはgit管理に含めない
/dist/
/build/

# 仮フォルダはgit管理に含めない
*/apps/*/temp/

# test用のファイルはgit管理に含めない
*/apps/*/test_dir

# 自分用メモはgit管理しない
/memo.txt

# OS
.DS_Store